@font-face{
    font-family: "UniNeue-Light";
    src:url(./unineue/UniNeue-Trial-Light.ttf) format(truetype);
    font-display: swap;
}
@font-face{
    font-family: "UniNeue-Regular";
    src:url(./unineue/UniNeue-Trial-Regular.ttf) format(truetype);
    font-display: swap;
}



a{
    text-decoration: none;
    font-family: "UniNeue-Ligth", sans-serif;
}
* {
    font-family: 'UniNeue-Ligth', sans-serif;
}
p{
    margin-bottom: 0;
}
.input-search{
    width: 570px;
    height: 44px;
    background-color: #f6f6f6;
    font-family: "UniNeue-Light", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #a7a7a7;
    border: 2px solid #f6f6f6;
    border-radius: 5px;
    text-align: start;
    position: relative;
}
.search{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 23px;
    right: 390px;
}
.over-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-uzb{
    margin-right: 15px;
    font-family: "UniNeue-Regular", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}
.heart{
    margin-right: 15px;
    width: 36px;
    height: 20px;
}
.box{
    margin-right: 15px;
    width: 38px;
    height: 20px;
}
.account-image{
    width: 30px;
    height: 30px;
}
.line{
    border: 1px solid #666666;
    opacity: 20%;
    margin-top: 15px;
}
li{
    list-style: none;
}
.categories{
    margin-right: 150px;
}
.navbar-menu{
    font-family: "UniNeue-Regular", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-left: 20px;
}
.line2{
    border: 0.1px solid #666666;
    opacity: 20%;
    margin-top: 15px;
}